/**
  * @Author: Fred R. Zhen
  * @Date: 2022/12/14 22:51
  * @Email: fred.zhen@gmail.com
 */
html {
  background-color: #fefefe;
}

body {
  background-color: #fefefe;
}

#app {
  margin-top: 60px;
}
